body {
    background-color: gray;
}

header {
    background-color: black;
    color: white;
}

.recherche {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#list-cocktail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    margin-top: 15px;
}

.cocktail-size {
    width: 20%;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
}